*{
	margin: 0;
	padding: 0;

}
body{

	font-family: 'Poppins', sans-serif;
}
a{
	text-decoration: none;
}

/*header section start*/

.header{
	top: 0;
	width: 100%;
	padding: 8px 0px;
	background-color: grey;
	position: fixed;
	border-bottom: 1px solid gray;
}
.container{
	width: 1140px;
	margin: auto;
}
.navber{
	display: flex;
	justify-content: space-between;
}
.b-left ul{
	display: inline-block;
	margin-left: 40px;
}
.b-left ul li{
	list-style: none;
	display: inline-block;
	margin-left: 16px;
}
.logo{
	vertical-align: middle;
}
.b-left ul li a{
	font-style: italic;
	color: #e9c76c;
	font-size: 16px;
	font-weight: 500;
	transition: 0.5s
}
.b-left ul li a:hover{
	color: #fd585c;
	margin-left: 4px;
	transition: 0.5s;
}
.b-right button{
    background-color: #e9c76c;
    padding: 17px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: 0.5s
}
.b-right button:hover{
	background-color: #273a28;
	transition: 0.5s;
	margin: 2px;
}

/*header section end*/
/*poster scetion start*/
.poster{
	width: 100%;
	padding: 100px 0px;
}
.container{
	width: 1140px;
	margin: auto;
}
.poster-row{
	display: flex;
}

.p-left h2{
    color: #273a28;
    font-size: 38px;
    line-height: 1.3;
    margin-bottom: 21px;	
}
.p-left p{
	color: #273a28;
    margin-right: 79px;
    line-height: 27px;
    padding-bottom: 15px;
    font-size: 19px;
}
.p-left i{
    height: 40px;
    width: 40px;
    color: #273a28;
    text-align: center;
    line-height: 40px;
    border: 2px solid #e9c76c;
    border-radius: 100%;
}
.p-right img{
	border-radius: 10px;
}
/*poster scetion end*/

.gallary{
	width: 100%;
	padding: 16px 0px;
}
.top-part{
	text-align: center;
}
.top-part h2{
    color: #273a28;
    font-size: 50px;
    font-weight: 700;

}
.top-part p{
	color: #273a28;
    line-height: 26px;
    padding-bottom: 8px;
    font-style: italic;
    margin-bottom: 20px;
}
.btm-part{
	display: flex;
	justify-content: space-evenly;
}
.p-item{
	text-align: center;
	flex-basis: 25%;
}
.p-item img{
	margin-bottom: 10px;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.p-item p{
    font-size: 18px;
    font-weight: 700;
    color: #7b7981;
}
.Line{

    margin: 60px auto;
    height: 80px;
    background-color: #afa3a5;
    width: 2px;
}

.f-item-row{
	margin-bottom: 32px;
	display: grid;
	grid-template-columns: auto auto auto;
}	

.f-item{

    background-color: #f5f5f5	;
    margin: 16px;
    text-align: center;
    padding: 32px 16px;
    border-radius: 4px;
    transition: 0.5s;
}
.f-item:hover{
	background-color: #ff6262;
	margin-right: 4px;
	transition: 0.5s;

}
.f-item i{

    hight: 55px;
    width: 55px;
    background-color: white;
    color: #e9c76c;
    font-size: 30px;
    text-align: center;
    line-height: 55px;
    border: #e9c76c;
    border-radius: 100%;

}
.f-item h4{
	margin-top: 16px;
	font-size: 16px;
	font-weight: 600;
	color: #29253c;
}
.f-item p{
	color: #afa3a5;
	margin-top: 16px;
	text-transform: capitalize;
}
.footer{
	width: 100%;
	background-color: #29253c;
	margin: auto;
	
}
.f-content{
	text-align: center;
}
.f-content h1{
	color: #273a28 ;
	text-transform: capitalize;
	margin-top: 16px;
	margin-bottom: 16px;
	font-size: 50px;
	font-weight: 900;
}
.b-right1 button{
	margin-bottom: 16px;
    background-color: #ffffff;
    padding: 17px;
    font-size: 16px;
    font-weight: 700;
    border: none;	
    border-radius: 4px;
    color: #273a28 ;
    cursor: pointer;
    transition: 0.5s
}
.b-right1 button:hover{
	background-color: white ;
	transition: 0.5s;
	margin: 2px;
}
.footer, .adress{
	width: 100%;
	margin-bottom: 32px;
}
.footer, .adress-row{
	display: flex;
	background-color: #e9c76c;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 60px;
	padding-right: 60px;
	border-radius: 8px;
}
.footer, .adress-left, .adress-right{
	flex-basis: 50%;
}
.footer, .adress-row h3{
	color: #273a28;
	font-size: 24px;
	margin-bottom: 16px;
}
.footer, .adress-row p{
	font=size: 16px;
	color: #273a28;
	line-height: 1.5;
}

.b-left ul li::before {
	content: '';
}





